.file {
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 15px;
    position: relative;
}

.file-code {
    background-color: #fff;
    border-collapse: separate;
    width: 100%;
}

table {
    border-spacing: 0;
}

td {
    padding: 0;
}

pre {
    margin-bottom: 0;
    margin-top: 0;
    font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
    font-size: 12px;
}

.line-nums {
    padding:5px 0;
    border: 1px solid #e5e5e5;
    color: rgba(0, 0, 0, 0.3);
    text-align: right;
    vertical-align: top;
    width: 1%;
    font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
    font-size: 14px;
}

.line-nums span {
    color: inherit;
    display: block;
    height: 18px;
    line-height: 18px;
    padding: 0 8px;
    cursor: pointer;
}

.line-code {
    line-height: 18px;
    padding-bottom: 5px;
    padding-top: 5px;
    whitespace: nowrap;
}

.highlight {
    background: none repeat scroll 0 0 #ffffff;
}

.highlight pre {
    padding-left: 8px;
}

.highlighted-line {
    background-color: #f8eec7;
}

.highlighted-symbol {
    background-color: #c0d0ed;
}

.def {
    cursor: pointer;
}

.macro {
    font-weight: bold;
    color: #333;
}

.macro a {
    text-decoration: none;
    color: #333;
}

.special, .quote, .meta, .deref, .var-quote,
.syntax-quote, .unquote, .unquote-splicing {
    font-weight: bold;
    color: #333;
}

.special a {
    text-decoration: none;
    color: #333;
}

.var {
    color: #990000;
    font-weight: bold;
}

.var a {
    color: #990000;
    text-decoration: none;
}

.local {
    color: teal;
}

.local a {
    color: teal;
    text-decoration: none;
}

.quoted {
    color: #5e5e5e;
}

.nil, .boolean {
    font-weight: bold;
    color: #333;
}

.number, .keyword, .char {
    color: #8955d9;
}

.string, .regex {
    color: #126e18;
}

.comment {
    color: #7a7a7a;
    font-style: italic;
}

.list-open, .list-close, .vector-open, .vector-close,
.map-open, .map-close, .set-open, .set-close, .fn-open, .fn-close {
    color: #8a7d62;
}
